body{
	margin: auto;
	text-align: center;
	background-color: #fae3a5;
	
}
h1, h2{
	color: black;
	font-font-family: Lucida Console, Courier, monospace;
	font-size: 40px;
	line-height: 28px;
	text-align: center
}
b{
	color: black;
	font-family: Lucida Console, Courier, monospace
    
}
p{
	width: 850px;
	margin: auto;
	color: black;
	font-family: Lucida Console, Courier, monospace;
    text-align: center;
}
img{
border: 4px solid black;
margine: 10px;
style=float:left
}
ul{
	list-style: none;
}
a:hover{
color: red;
text-decoration: none;
}
a{
	text-decoration: none;	
}
li{
	font-size: 19px;
}